In [48]:
import os
import numpy as np
import pandas as pd

In [49]:
# 設定 data_path
dir_data = './data/Part01'
f_home = os.path.join(dir_data, 'HomeCredit_columns_description.csv')
home_credit = pd.read_csv(f_home, encoding = "ISO-8859-1")

In [50]:
row = home_credit.shape[0]
column = home_credit.shape[1]
home_credit.head()

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN

資料的 row 數以及 column 數

In [51]:
print(f"row: {row}, column: {column}")

row: 219, column: 5

列出所有欄位

In [53]:
home_credit.iloc[0:0,:]

#print(f"all columns: {columns}")

Empty DataFrame
Columns: [Unnamed: 0, Table, Row, Description, Special]
Index: []

截取部分資料

答: 取出5~10row column的資料

In [55]:
home_credit.iloc[5:10,:]

,Unnamed: 0,Table,Row,Description,Special
5,8,application_{train|test}.csv,FLAG_OWN_REALTY,Flag if client owns a house or flat,NaN
6,9,application_{train|test}.csv,CNT_CHILDREN,Number of children the client has,NaN
7,10,application_{train|test}.csv,AMT_INCOME_TOTAL,Income of the client,NaN
8,11,application_{train|test}.csv,AMT_CREDIT,Credit amount of the loan,NaN
9,12,application_{train|test}.csv,AMT_ANNUITY,Loan annuity,NaN